<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{write_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="hand">✍️</span>
    <span class="post-rank">{{format_rank_post_name}}</span>
    post ranking
  </p>
  <p>
    <button class="btn btn-primary">rank this post!</button>
  </p>
</div>
